#backToMenuBtn {
    margin-top: 20px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
#backToMenuBtn:hover {
    background-color: #e53935;
}

body {
    margin: 0;
    background-color: #70c5ce;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
canvas {
    display: block;
    background: #70c5ce;
    border: 2px solid black;
}
.controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#backToMenuBtn {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #f44336; /* Kolor jak na zdjęciu */
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}
#backToMenuBtn:hover {
    background-color: #e53935; /* Delikatny ciemniejszy efekt po najechaniu */
}
.game-over {
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 10px;
}